.pagination {
  margin-bottom: 0;
}

.hover-pointer, button {
  cursor: pointer;
}

.invalid-feedback {
  display: block !important;
}

.text-light a {
  color: #fff !important;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.slick-prev, .slick-next {
  z-index: 1;
  width: 30px;
  height: 30px;
}

.slick-dots {
  bottom: 10px;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
  color: #0da9ef;
}
